
#ProdMian{
    display:flex;
    width:100%;
    justify-content: center;
    margin-top:200px;
}
#product{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35%;
    row-gap:10px;
}

#product h1{
    color:#2E186A;
}
#product p{
    color: #2E186A;
}
#product button{
    width:180px;
    height:48px;
    background-color: #2E186A;
    margin-top: 25px;
    border: none;
    color: white;
    border-radius:5px;
}
#product button:hover{
    background-color: sandybrown;
}
